<%- include('partials/head') %>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1>
                    Oops!</h1>
                <h2>
                    404 Não encontrado!</h2>
                <div class="error-details">
                    A página que você procura não existe ou você não possui permissão pra acessá-la!
                </div>
                <div class="error-actions">
                    <a href="/" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-home"></span>
                        Volte pra página inicial </a>
                </div>
            </div>
        </div>
    </div>
</div>


<%- include('partials/footer') %>