<%- include('partials/head') %>

<div class="container">
    <%- include('partials/header') %>
    <div class="col-sm-6 col-sm-offset-3">
        <h1><span class="fa fa-sign-in"></span> Nova História</h1>

        <form action="/addStory" method="post">
            <div class="form-group">
                <label>Título</label>
                <input type="text" class="form-control" name="title">
            </div>
            <div class="form-group">
                <label>Gênero</label>
                <input type="text" class="form-control" name="genre">
            </div>
            <div class="form-group">
                <label>Sinopse</label>
                <textarea class="form-control" name="synopsis"></textarea> 
            </div>
            <button type="submit" class="btn btn-info btn-lg">Adicionar História</button>
        </form>
    </div>
</div>

<%- include('partials/footer') %>