<!-- views/partials/header.ejs -->
<div class="header clearfix">
    <nav>
        <ul class="nav nav-pills pull-right">
        	<% if (loggedUser) { %>
        		<li role="presentation"><a class='user' href="/profile/<%=loggedUser._id%>"><%= loggedUser.local.username %></a></li>
                <li role="presentation"><a href="/addStory">+ história</a></li>
            	<li role="presentation"><a href="/logout">Sair</a></li>
            <% } else { %>
            	<li role="presentation"><a href="/login">Entrar</a></li>
            	<li role="presentation"><a href="/signup">Increver-se</a></li>
            <% } %>
        </ul>
        <h3 class="text-muted"><a href="/">ConTiNue</a></h3>
    </nav>
</div>