body {
    padding-top: 20px;
    padding-bottom: 20px;
}

#form-container {
  width: 96%;
  margin-left: 20px;
  margin-right: 20px;
}

.jumbotron {
    margin-top: 10px;
}

.no-outline {
    display:block;
    outline:none;
}

.fragment {
    margin-top: 10px;
    margin-left: 2px;
    margin-right: 5px;
}

.container.panel {
    padding: 0px;
}

.add-fragment {
  width: 100%;
}


/* Tell Quill not to scroll */
#toolbar{
  padding: 10px;
}

#quill-container {
  height: auto;
  min-height: 100%;
  padding: 50px;
}

#quill-container .ql-editor {
  outline: 0px;
  font-size: 18px;
  overflow-y: visible; 
}

/* Specify our own scrolling container */
#scrolling-container {
  height: 350px;
  min-height: 100%;
  overflow-y: auto;
}

.edit-title {
  display: block;
  font-size: 2em;
  margin-top: 0.67em;
  padding: 5px;
  background-color: #F8F8F8;
  margin-left: 0;
  margin-right: 0;
  border: 0;
  width: 100%;
}

.edit-synopsis{
  display: block;
  width: 100%;
  padding: 5px;
  background-color: #F8F8F8;
  overflow: auto;
  margin-left: 0;
  margin-right: 0;
  border: 0; 
}

.edit-genre {
  display: block;
  padding: 5px;
  background-color: #F8F8F8;
  width: 100%;
  margin-top: 0.67em;
  margin-left: 0;
  margin-right: 0;
  border: 0;
}


#toolbar-container .ql-font span[data-label="Sans Serif"]::before {
  font-family: "Sans Serif";
}

#toolbar-container .ql-font span[data-label="Inconsolata"]::before {
  font-family: "Inconsolata";
}

#toolbar-container .ql-font span[data-label="Roboto"]::before {
  font-family: "Roboto";
}

#toolbar-container .ql-font span[data-label="Mirza"]::before {
  font-family: "Mirza";
}

#toolbar-container .ql-font span[data-label="Arial"]::before {
  font-family: "Arial";
}
/* Set content font-families */

.ql-font-inconsolata {
  font-family: "Inconsolata";
}

.ql-font-roboto {
  font-family: "Roboto";
}

.ql-font-mirza {
  font-family: "Mirza";
}

.ql-font-arial {
  font-family: "Arial";
}
