body {
    padding-top: 20px;
    padding-bottom: 20px;
}

.error-template {padding: 40px 15px;text-align: center;}
.error-actions {margin-top:15px;margin-bottom:15px;}
.error-actions .btn { margin-right:10px; }

.regular-checkbox {
  -webkit-appearance: none;
  background-color: #fafafa;
  border: 1px solid #cacece;
  box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
  padding: 9px;
  border-radius: 3px;
  display: inline-block;
  position: relative;
}

.regular-checkbox:active, .regular-checkbox:checked:active {
  box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.regular-checkbox:checked {
  background-color: #e9ecee;
  border: 1px solid #adb8c0;
  box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
  color: #99a1a7;
}


.regular-checkbox:checked:after {
  content: '\2714';
  font-size: 14px;
  position: absolute;
  top: 0px;
  left: 3px;
  color: #99a1a7;
}

.btn span.glyphicon-ok {         
  opacity: 0;
}
.btn.active span.glyphicon-ok {        
  opacity: 1;       
}

.header {
  margin-bottom: 50px;
}

#form-container {
  width: 96%;
  margin-left: 20px;
  margin-right: 20px;
}

.jumbotron {
    margin-top: 10px;
}

.no-outline {
    display:block;
    outline:none;
}

.fragment {
    margin-top: 10px;
    margin-left: 2px;
    margin-right: 5px;
}

.container.panel {
    padding: 0px;
}

.add-fragment {
  width: 100%;
}


/* Tell Quill not to scroll */
#toolbar{
  padding: 10px;
}

#quill-container {
  height: auto;
  min-height: 100%;
  padding: 50px;
}

#quill-container .ql-editor {
  outline: 0px;
  font-size: 18px;
  overflow-y: visible; 
}

/* Specify our own scrolling container */
#scrolling-container {
  height: 350px;
  min-height: 100%;
  overflow-y: auto;
}

.edit-title {
  display: block;
  font-weight: bold;
  font-size: 43px;
  background-color: #F8F8F8;
  margin-left: 0;
  margin-right: 0;
  border: 0;
  width: 100%;
}

.edit-synopsis{
  display: block;
  width: 100%;
  padding: 5px;
  background-color: #F8F8F8;
  overflow: auto;
  margin-left: 0;
  margin-right: 0;
  border: 0; 
}

.edit-genre {
  display: block;
  padding: 5px;
  background-color: #F8F8F8;
  width: 100%;
  margin-top: 0.67em;
  margin-left: 0;
  margin-right: 0;
  border: 0;
}


#toolbar-container .ql-font span[data-label="Sans Serif"]::before {
  font-family: "Sans Serif";
}

#toolbar-container .ql-font span[data-label="Inconsolata"]::before {
  font-family: "Inconsolata";
}

#toolbar-container .ql-font span[data-label="Roboto"]::before {
  font-family: "Roboto";
}

#toolbar-container .ql-font span[data-label="Mirza"]::before {
  font-family: "Mirza";
}

#toolbar-container .ql-font span[data-label="Arial"]::before {
  font-family: "Arial";
}
/* Set content font-families */

.ql-font-inconsolata {
  font-family: "Inconsolata";
}

.ql-font-roboto {
  font-family: "Roboto";
}

.ql-font-mirza {
  font-family: "Mirza";
}

.ql-font-arial {
  font-family: "Arial";
}


